// ======= Variáveis =======
$cor-primaria: #773df9;
$cor-secundaria: #1a162a;
$cor-terciaria: #FAEE3C;
$cor-clara: #f2f2f2;
$cor-clara2: #cbcaca;

// ======= Reset =======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  background-attachment: fixed; // opcional: gradiente fixo
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

// ======= NAVBAR =======
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $cor-primaria;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
  // left: 0;
  background-color: $cor-primaria;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* Hamburger menu oculto por padrão */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background: #fff;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 95%;
    left: 0;
    flex-direction: column;
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 10px 0;
  }

  .nav-links.active {
    transform: translateX(0);
    width: 50%;
    height: 100vh;
    padding: 5%;
  }

  .hamburger {
    display: flex;
  }
}

// nav {
//   position: sticky;
//   top: 0;
//   left: 0;
//   display: flex;
//   padding: 10px;
//   width: 100%;
//   transition: .5s;
//   background-color: $cor-primaria;
//   z-index: 10;

//   .logo {
//     img {
//       margin: 10px;
//       width: 100px;
//     }
//   }

//   ul {
//     .itens {
//       gap: 20px;
//       width: 100%;
//       display: flex;
//       flex-direction: row;
//       align-items: center;

//     }
//     .item-nav-end{
//       width: 20vh;
//     }
//     li {
//       display: inline;
//     }
//   }

//   a {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
//     color: $cor-clara;
//     transition: .5s;

//     &:hover {
//       color: $cor-clara2;
//     }
//   }
// }

// ======= MAIN =======
main {
  position: relative;
  width: 100%;
  flex: 1; // ocupa espaço restante
  background-color: $cor-clara;
  box-shadow: none;
}

// ======= SECTIONS =======
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 200px;

  img {
    position: relative;
    width: clamp(200px, 50vw, 500px);
    margin: 50px;
  }

  .texto {
    position: inherit;
    display: block;
    min-width: 100px;
    z-index: 1;
    font-size: 1.2vw;
    position: absolute;
    margin: 0 30vw;

    h1 {
      font-size: clamp(15px, 4vw, 50px);
    }

    h2 {
      font-size: clamp(15px, 3vw, 20px);
    }

    p {
      font-size: clamp(15px, 3vw, 20px);
      margin: 0;
    }

    h1+p,
    p+p {
      margin-top: 4px;
    }
  }
}

.sections {
  // background-color: $cor-primaria;
  position: relative;
  z-index: 2;

  h1,
  p {
    white-space: nowrap;
    // word-wrap: break-word;
    display: inline-block;
    background-color: $cor-primaria;
    padding: 5px;
  }

  h1 {
    background-color: $cor-terciaria;
    font-size: clamp(20px, 5vw, 50px);
    color: rgba(0, 0, 0, 80%);
  }

  h1 {
    background-color: $cor-terciaria;
    font-size: clamp(20px, 5vw, 50px);
    color: rgba(0, 0, 0, 80%);
  }

  p {
    text-align: justify;
    font-size: clamp(14px, 2.6vw, 20px);
  }
}

#sectionS {
  padding: 100px 0;
  min-height: 50vh;

  h1 {
    font-size: clamp(30px, 4vw, 50px);
  }
}

.background {
  position: absolute;
  inset: 0;
  background-image: url("/public/images/PATTERN.png");
  // opacity: 0.05;
  z-index: 1;
}

// ======= FOOTER =======
.footer {
  width: 100%;
  min-height: 200px;
  display: flex;
  background-color: $cor-primaria;
  position: relative;
  z-index: 2;
  font-size: clamp(10px, 1vw, 50px);
  color: $cor-clara;
  justify-content: center;
  align-items: center;
  .redes {
    div{
      display: flex;
      gap: 10px;
      a{
        text-decoration: none;
      }
      align-items: center;
    }
    img {
      min-width: 10px;
      width: 5vw;
      max-width: 30px;
    }
    position: absolute;
    flex-direction: column;
    left: 2vh;
    background-color: transparent;
  }
}

// ======= HELPERS =======
.start {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  background-color: $cor-primaria;
}

#section2 {
  display: flex;

  p {
    background-color: $cor-primaria !important;
  }

  .start {
    background-color: transparent;
  }

  h1 {
    background-color: $cor-terciaria;
  }
}

#section4 {
  display: flex;

  p {
    background-color: $cor-primaria !important;
  }

  .start {
    background-color: transparent;
  }

  h1 {
    background-color: $cor-terciaria;
  }
}

// #section6 {
//   display: flex;

//   p {
//     background-color: $cor-primaria !important;
//   }

//   .start {
//     background-color: transparent;
//   }

//   h1 {
//     background-color: $cor-terciaria;
//   }
// }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.end {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.color-1 {
  color: $cor-clara;
}

.a-color {
  color: $cor-clara;
}
.a-color:visited{

  color: $cor-clara2;
} 
.color-2 {
  color: $cor-primaria;
}

.color-3 {
  color: $cor-secundaria;
}

// ======= RESPONSIVO =======

@media screen and (max-width: 1100px) {
  .footer{
    flex-direction: column;
    padding: 50px 0;
    .redes{
      margin-top: 50px;
      position: static;
      div{
        justify-content: center;
        text-align: center;
      }
    }
  }
  .section {
    padding: 50px 0;
    flex-direction: column;

    .texto {
      font-size: 2.6vw;
      width: 70vw;
      position: relative;
      text-align: center;
      max-width: 100%;
    }

    .imagem {
      order: -1;
      max-width: 100%;
    }

    .end {
      justify-content: center;
      max-width: 100%;
    }

    h1,
    p {
      background-color: transparent;
      display: block;
      text-align: center;
      white-space: unset;
      word-wrap: break-word;
    }

    p {
      display: inline;
    }

    h1 {
      text-align: center;
      font-size: 2vw;
    }
    .a-color{
      color: $cor-secundaria;
    }
    .a-color:visited{
      color: #0f0d18;
    }
  }

  #section2,
  #section4 {

    h1,
    p {
      background-color: transparent !important;
      color: rgba(0,0,0, 0.80);
    }
  }
}

@media screen and (max-width: 770px) {
  nav {
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    ul {
      justify-content: start;
    }

    .item-nav {
      display: none;
    }
  }
}