// ======= Variáveis =======
$cor-primaria: #773DF9;
$cor-secundaria: #1a162a;
$cor-clara: #f2f2f2;
$cor-clara2: #cbcaca;

// ======= Reset =======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-attachment: fixed; // opcional: gradiente fixo
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

// ======= NAVBAR =======
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  padding: 10px;
  width: 100%;
  transition: .5s;
  background-color: $cor-primaria;
  z-index: 10;

  .logo {
    img {
      margin: 10px;
      width: 100px;
    }
  }

  ul {
    .itens {
      gap: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

    }
    .item-nav-end{
      width: 20vh;
    }
    li {
      display: inline;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $cor-clara;
    transition: .5s;

    &:hover {
      color: $cor-clara2;
    }
  }
}

// ======= MAIN =======
main {
  position: relative;
  width: 100%;
  flex: 1; // ocupa espaço restante
  background-color: $cor-clara;
  box-shadow: inset 0 0 100px $cor-primaria;
}

// ======= SECTIONS =======
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 200px;

  img {
    position: relative;
    width: clamp(200px, 50vw, 500px);
    margin: 50px ;

  }

  .texto {
    position: inherit;
    display: block;
    min-width: 100px;
    z-index: 1;
    font-size: 1.2vw;
    position: absolute;
    margin: 0 70vh;
    
    h1 {
      font-size: clamp(15px, 4vw, 50px);
    }
    h2{
      font-size: clamp(15px, 3vw, 20px);
    }
    p {
      font-size: clamp(15px, 3vw, 20px);
      margin: 0;
    }
    h1 + p,
    p + p {
      margin-top: 4px;
    }
  }
}

.sections {
  background-color: $cor-primaria;
  position: relative;
  z-index: 2;
  
  h1, p {
    white-space: nowrap;
    display: inline-block;
    background-color: $cor-primaria;
    padding: 5px;
  }
  
  p {
    text-align: justify;
  }
}
#sectionS {
  padding: 100px 0;
  min-height: 50vh;
  h1{
      font-size: clamp(30px, 4vw, 50px);
  }
}

.background {
  position: absolute;
  inset: 0;
  background-image: url('/public/images/PATTERN.png');
  opacity: .05;
  z-index: 1;
}

// ======= FOOTER =======
.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cor-primaria;
  box-shadow:
    inset 100px 0 100px -100px $cor-secundaria,  // esquerda
    inset -100px 0 100px -100px $cor-secundaria, // direita
    inset 0 -100px 100px -100px $cor-secundaria; // baixo
  position: relative;
  z-index: 2;
  color: $cor-clara;
}

// ======= HELPERS =======
.start   { display: flex; justify-content: flex-start; text-align: start; }
.center  { display: flex; justify-content: center; text-align: center; }
.end     { display: flex; justify-content: flex-end; text-align: right;}

.color-1 { color: $cor-clara; }
.color-2 { color: $cor-primaria; }
.color-3 { color: $cor-secundaria; }

// ======= RESPONSIVO =======

@media screen and (max-width: 1100px) {
  .section{
    flex-direction: column;
    .texto{
      font-size: 2.6vw;
      width: 70vw;
      position: relative;
    }
    .imagem{
        order: -1;
    }
    .end{
      justify-content: center;
    }
    h1, p{
      background-color: transparent;
      display: block;
      text-align: center;
    }
    h1{
      text-align: center;
      font-size: 2vw;
    }
  }
}

@media screen and (max-width: 770px) {
  nav {
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }
    ul {
      justify-content: start;
    }
    .item-nav {
      display: none;
    }
  }
  
}
